# Правила из .gitignore применяются только к новым (untracked) файлам. Если файл уже попал в staging area или в коммит, то правила на него не распространяются.
# Указываем названия файлов. Все (внутри папок тоже) файлы будут игнорироваться
# * соответствует любой строке, включая пустую   ( *.jpeg)
# папка/название_файла/расширение проигнорирует в папке все файлы с таким расширением
